<div class="row" style="margin-top:  -10px; margin-bottom:  36px;">
    <h4>Add New Qualification</h4>

</div>


<div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="name">School/University</label>
        <input class="form-control m-input m-input--solid" placeholder="School/University" name="name" type="text">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="education_level" class="control-label">Education Level</label>
        <select class="form-control m-input m-input--solid" id="exampleSelect12">
                                <option value="1">Graduate</option>
                                <option value="2">High School Diploma</option>
                              </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group m-form__group">
        <label for="from_year" class="control-label">Time Period</label>
        <div class="row">
          <div class="col-md-6">
            <input class="form-control m-input m-input--solid" placeholder="from" name="from_year" type="text">
          </div>
          <div class="col-md-6">
            <input class="form-control m-input m-input--solid" placeholder="to" name="to_year" type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="language" class="control-label">Language</label>
        <select class="form-control m-input m-input--solid" id="exampleSelect13">
                                <option value="1">English</option>
                                <option value="2">Arabic</option>
                                <option value="3">French</option>
                              </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="skill" class="control-label">Professional Courses (if any)</label>
        <select class="form-control m-input m-input--solid" id="exampleSelect14">
          <option value=""></option>
                                <option value="1">jQuery</option>
                                <option value="2">CodeIgniter</option>
                                <option value="3">Wordpress</option>
                                <option value="4">Magento</option>
                                <option value="5">Joomla</option>
                                <option value="6">Android</option>
                              </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group m-form__group">
        <label for="to_year" class="control-label">Description</label>
        <textarea class="form-control m-input m-input--solid" placeholder="Description" data-show-counter="1" data-limit="300" name="description" cols="30" rows="3" id="d_description"></textarea>
      </div>
    </div>
  </div>
  

