<div class="row" style="margin-top:  -10px; margin-bottom:  36px;">
    <h4>Basic Information</h4>

</div>

<div class="row">
        <div class="col-md-6">
        <div class="form-group m-form__group">
              <label for="exampleInputEmail1">
                  First Name
              </label>
              <input type="text" class="form-control m-input m-input--solid" id="InputFirstName" aria-describedby="emailHelp" placeholder="First Name">
          </div> 
        </div>
        <div class="col-md-6">
        <div class="form-group m-form__group">
              <label for="exampleInputEmail1">
                  Last Name
              </label>
              <input type="text" class="form-control m-input m-input--solid" id="InputlastName" aria-describedby="emailHelp" placeholder="Last Name">
          </div> 
        </div>
</div>
<div class="m--space-10"></div>
<div class="row">
        <div class="col-md-4">
          <div class="form-group m-form__group">
            <label for="employee_id">Employee ID</label>
            <input class="form-control m-input m-input--solid" placeholder="Employee ID" aria-describedby="employee_id" type="text">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group m-form__group">
            <label for="username">Username</label>
            <input class="form-control m-input m-input--solid" placeholder="Username" aria-describedby="username" type="text">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group m-form__group">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
      </div>
<div class="m--space-10"></div>
<div class="row">
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <label for="employee_id">Company</label>
                <select class="form-control m-input m-input--solid" id="exampleSelect1">
                        <option>Company</option>
                        <option>
                            2
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <label for="Department">Department</label>
                <select class="form-control m-input m-input--solid" id="exampleSelect2">
                        <option>Department</option>
                        <option>
                            2
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <label for="Designation" class="control-label">Designation</label>
                <select class="form-control m-input m-input--solid" id="exampleSelect3">
                        <option>Designation</option>
                        <option>
                            2
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
              </div>
            </div>
          </div>

          <div class="m--space-10"></div>
          <div class="row">
                  <div class="col-md-4">
                    <div class="form-group m-form__group">
                      <label for="employee_id">Date of Birth</label>
                      <input class="form-control m-input m-input--solid" placeholder="2018-03-23" aria-describedby="DateofBirth" type="text">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group m-form__group">
                      <label for="username">Date of Joining</label>
                      <input class="form-control m-input m-input--solid" placeholder="2018-03-23" aria-describedby="username" type="text">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group m-form__group">
                      <label for="DateofLeaving" class="control-label">Date of Leaving</label>
                      <input type="text" class="form-control m-input m-input--solid" id="DateofLeaving" aria-describedby="DateofLeaving" placeholder="2018-03-23">
                    </div>
                  </div>
                </div>

                <div class="m--space-10"></div>
<div class="row">
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <label for="employee_id">Role</label>
                <select class="form-control m-input m-input--solid" id="exampleSelect4">
                        <option>Role</option>
                        <option>
                            2
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <label for="Department">Gender</label>
                <select class="form-control m-input m-input--solid" id="exampleSelect5">
                        <option>Male</option>
                        <option>
                            2
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <label for="Designation" class="control-label">Marital Status</label>
                <select class="form-control m-input m-input--solid" id="exampleSelect6">
                        <option>Single</option>
                        <option>
                            2
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
              </div>
            </div>
          </div>


          <div class="m--space-10"></div>
<div class="row">
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <label for="Contact-Number">Contact Number</label>
                <input class="form-control m-input m-input--solid" placeholder="Contact Number" aria-describedby="Contact_Number" type="text">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <label for="Department">Status</label>
                <select class="form-control m-input m-input--solid" id="exampleSelect7">
                        <option>Male</option>
                        <option>
                           Active
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <label for="Designation" class="control-label">Office Shift</label>
                <select class="form-control m-input m-input--solid" id="exampleSelect8">
                        <option>Morning</option>
                        <option>
                            2
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
              </div>
            </div>
          </div>
          <div class="m--space-10"></div>
          <div class="row">
              <div class="col-md-12">
                    <div class="form-group m-form__group">
                            <label for="exampleTextarea">
                            Address
                            </label>
                            <textarea class="form-control m-input m-input--solid" id="exampleTextarea" rows="3" placeholder="Test Address"></textarea>
                        </div>
              </div>
          </div>

