<div class="row" style="margin-top:  -10px; margin-bottom:  36px;">
    <h4>Add New Document</h4>

</div>


<div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="relation">Document Type</label>
        <select class="form-control m-input m-input--solid" id="exampleSelect10">
            <option value="1"> Passport</option>
            <option value="2"> Visa</option>
            <option value="3"> Driving License</option>
        </select>
     </div>
    </div>
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="date_of_expiry" class="control-label">Date of Expiry</label>
        <input class="form-control m-input m-input--solid" placeholder="2018-05-09" name="title" type="text">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="title" class="control-label">Document Title</label>
        <input class="form-control m-input m-input--solid" placeholder="Document Title" name="title" type="text">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="email" class="control-label">Notification Email</label>
        <input class="form-control m-input m-input--solid" placeholder="Notification Email" name="email" type="email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="description" class="control-label">Description</label>
        <textarea class="form-control m-input m-input--solid" placeholder="Description" data-show-counter="1" data-limit="300" name="description" cols="30" rows="3" id="d_description"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <fieldset class="form-group m-form__group">
          <label for="logo">Document File</label>
          <input type="file" class="form-control-file" id="document_file" name="document_file">
          <small>Upload files only: png, jpg, jpeg, gif, txt, pdf, xls, xlsx, doc, docx</small>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="send_mail">Send notification email when expired?</label>
        <select class="form-control m-input m-input--solid" id="exampleSelect11">
          <option value="1">Yes</option>
          <option value="2">No</option>
        </select>
      </div>
    </div>
  </div>

